<div class="schedules">
  <div class="schedule">
    <h2>新規投稿</h2>

  <%= form_with model: [@care_user, @schedule], class: 'form', local: true do |f| %>
    <div class="contents">
      <div class="headline">
      実施時刻
      </div>
      <%= f.text_field :times, class: 'form-text', id: 'new', placeholder: 'ケア開始時刻を入力' %>
    </div>

    <div class="contents">
      <div class="headline">
      実施したこと
      </div>
      <%= f.text_field :title, class: 'form-text', id: 'new', placeholder: '実施したことを入力' %>
    </div>

    <div class="contents">
      <div class="headline">
      詳細
      </div>
      <%= f.text_area :text, class: 'form-textarea', placeholder: '詳細情報を入力' %>
    </div>

    <div class="contents">
      <div class="headline">
        写真
      </div>
      <%# f.file_field :images, name: 'message[images][]', id: 'message_image' %>
    </div>

      <%= f.submit '入力内容を保存' %>

  <% end %>
  </div>
</div>