<div class="new-schedules">
  <div class="new-schedule">

  <h2>新規投稿</h2>

  <%= form_with model: [@care_user, @schedule], class: 'form', local: true do |f| %>
  <%= render 'layouts/error_messages', model: f.object %>
    <div class="contents">
      <div class="headline">
      実施時刻
      </div>
      <%= f.text_field :times, class: 'form-text', id: 'new', placeholder: 'ケア開始時刻を入力 (例)09:00、13:30' %>
    </div>

    <div class="contents">
      <div class="headline">
      実施したこと
      </div>
      <%= f.text_field :title, class: 'form-text', id: 'new', placeholder: '実施したことを入力' %>
    </div>

    <div class="contents">
      <div class="headline">
      詳細
      </div>
      <%= f.text_area :text, class: 'form-textarea', placeholder: '詳細情報を入力' %>
    </div>

    <div class="contents">
      <div class="headline1">
        写真
      </div>
    
    <div class="file-upload">
      <%= f.file_field :images, name: 'schedule[images][]', id: 'schedule_image', class: 'image_form' %>
        <div id="image-list"></div>
        <% @schedule.images.each do |image| %>
          <%= image_tag image, class: 'images' if @schedule.images.attached? %>
        <% end %>
    </div>
    </div>
      <%= f.submit '入力内容を保存', id: 'edit' %>
  <% end %>
    <div class="back">
      <%= link_to "#{@care_user.name}さんの一覧へ戻る", care_user_schedules_path %>
    </div>
  </div>
</div>