<div class="new-schedules">
  <div class="new-schedule">

  <div class="contents">
    <h3>
    <%= @schedule.times%>
    <%= @schedule.title%>
    </h3>
  </div>
      <%= "担当：#{@schedule.user.username}"%>
      <%= link_to "編集", edit_care_user_schedule_path(@care_user,@schedule), method: :get %>
      <%= link_to "削除", care_user_schedule_path(@care_user), method: :delete %>
      
  <div class="contents">
      <div class="show-content">
      <%= @schedule.text%>
        
      </div>
  </div>

    <div class="contents">
      <div class="headline">
        写真
      </div>
      <div class="img-content">
      <% @schedule.images.each do |image| %>
        <%= image_tag image, class:'images' if @schedule.images.attached? %>
      <% end%>
      </div>
    </div>

    <div class="contents">
      <div class="headline">
        コメント
      </div>
        <%= form_with(model: [@care_user, @schedule, @comment], local: true) do |f| %>
        <%= f.text_area :text, class: 'form-textarea-comment', placeholder: "コメント入力" %>
        <%= f.submit "送信" %>
        <% end %>
    </div>

    <div class="contents">
      <div class="headline">
        コメント一覧
      </div>
      <ul class="comments_lists">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.user.username %>
              <%= comment.text%>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <%= link_to "#{@schedule.care_user.name}さんの一覧へ戻る", care_user_schedules_path %>
  </div>
</div>
