<div class="new-schedules">
  <div class="new-schedule">

  <div class="contents">
    <h3>
    <%= @schedule.times%>
    <%= @schedule.title%>
    </h3>
  </div>
  <% if current_user.id == @schedule.user_id %>
    <div class="edits">
      <div class="show_user">
        <%= "担当：#{@schedule.user.username}"%>
      </div>
      <div class="show_button">
        <%= link_to "編集", edit_care_user_schedule_path(@care_user,@schedule), method: :get %>
      </div>
      <div class="show_button">
        <%= link_to "削除", care_user_schedule_path(@care_user,@schedule), method: :delete, data: {confirm: "このケア内容を削除してよろしいですか？"} %>
      </div>
    </div>
  <% end %>
  <div class="content_show">
      <div class="show-content"><%= @schedule.text%></div>
  </div>

    <div class="contents">
      <div class="headline">
        写真
      </div>
      <div class="img-content">
      <% @schedule.images.each do |image| %>
        <%= link_to image, "data-lightbox" => image do %>
          <%= image_tag image, class:'images' if @schedule.images.attached? %>
        <% end %>
      <% end%>
      </div>
    </div>

    <div class="contents">
      <div class="headline">
        コメント
      </div>
        <%= form_with(model: [@care_user, @schedule, @comment], local: true) do |f| %>
        <ul class="comment-form">
          <li><%= f.text_area :text, class: 'form-textarea-comment', placeholder: "コメント入力" %></li>
          <li><%= f.submit "送信", id: 'comment' %></li>
        </ul>
        <% end %>
    </div>

    <div class="contents">
      <div class="headline">
        コメント一覧
      </div>
      <ul class="comments_lists">
        <% if @comments %>
          <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text%>
              <p class="comments_lists_name">
                (<%= comment.user.username %> より)
              </p>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
    <div class="back">
      <%= link_to "#{@schedule.care_user.name}さんの一覧へ戻る", care_user_schedules_path %>
    </div>
  </div>
</div>
