<div class="new-schedules">
  <div class="new-schedule">

  <div class="contents">
    <h3>
    <%= @schedule.times%>
    <%= @schedule.title%>
    </h3>
  </div>
      <%= "担当：#{@schedule.user.username}"%>
      <%= link_to "編集", edit_care_user_schedule_path(@care_user,@schedule), method: :get %>
  <div class="contents">
      <div class="show-content">
      <%= @schedule.text%>
        
      </div>
  </div>

    <div class="contents">
      <div class="headline">
        写真
      </div>
      <%# f.file_field :images, name: 'message[images][]', id: 'message_image' %>
    </div>

    <div class="contents">
      <div class="headline">
        コメント
      </div>
      <%= link_to "#{@schedule.care_user.name}さんの一覧へ戻る", care_user_schedules_path %>
    </div>
  </div>
</div>